<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl text-xl">

A list of new stream feeds  </p></div>

   <ul><li> one </li><li> two </li></ul>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl text-xl">

hope can write others  </p></div>


   </div></section>
